body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: rgb(86, 16, 95);
    color: rgb(255, 0, 0);
}
li {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
a {color: rgb(0, 250, 54);}
a:visited {
    color: rgb(255, 0, 242);
}
.resumelistheading{ 
    font-weight: bold;
    font-style: normal;
    }
.underline {text-decoration: underline;}
.bold{font-weight: bold;}
.justify{text-align: justify;}

.homebg{
    background-image: url('../Images1/360_F_404195637_8ytNPsQYN2JQqALtPEld7jkbA1M8LbfJ.jpg');
    background-position: top right;
    /* background-repeat: ; */
}

.box1 {
    border-width: 1px;
    border-style: solid;
    border-color: gray;

    border: 1px solid purple;
}
/* put border around the code, 
can do each thing individually or all together as shown above, the latter will show */
.box2 {
    padding: 5px;
}
/* put paddint around the words inbetween the boxes */
.box3 {
    margin: 50px;
} 
/* seperated the words from the rest and put a barrier around everything */